pillow
pandas
opencv-python
numpy
ultralytics
streamlit
opencv-python-headless
ultralytics
pymupdf
pillow
pandas
numpy
scipy
tqdm
langchain-anthropic
langchain-core
pydantic
typing-extensions
torch
torchvision
langchain==0.3.18
langchain-anthropic==0.3.10
langchain-community==0.3.17
langchain-core==0.3.51
PyMuPDF==1.25.3
